* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 550;
}

.card-detail {
  height: 270px;
  width: 230px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 gray;
  margin: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.card-image {
  align-self: center;
  width: 150;
  margin: 10px;
  border-radius: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.pagination {
  display: inline-block;
  margin: 2px;
  color: black;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: lightgray;
  padding: 5px;
  width: 40px;
  text-align: center;
}

.active {
  font-weight: bold;
  border: 2px solid #333;
  background-color: #333;
  color: white;
}

.containerPagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px;
}

h5, h4 {
  text-align: center;
  margin: 0px 5px;
}

p {
  font-size: 14px;
}

button {
  display: inline-block;
  border: 1px solid #333;
  padding: 6px 10px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #333;
  color: #fff;
  border-color: #333;
}

button:disabled {
  background-color: lightgray;
  border-color: lightgray;
  color: #333;
  cursor: not-allowed;
  opacity: 0.5;
}